.display_colour {
    height: 10vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

form {
    margin-top: 1vh;
    margin-bottom: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form >div {
    display: flex;
}

input {
    display: block;
    flex-grow: 1;
    width: 15vw;
    padding: 2px;
    margin: 4px;
}

select {
    margin-bottom: 2px;
    width: 90vw;
}

#id_buttons_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

